DATABASE_URL=postgresql://user:password@localhost:5432/imsapp
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ADMIN_USERNAME=your-username-here
ADMIN_EMAIL=your-email-here
ADMIN_PASSWORD=your-password-here